* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
}

button {
  background: darkblue;
  padding: 12px 23px;
  border-radius: 12px;
  border: none;
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
h1 {
  text-align: center;
}

